@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Libre+Baskerville:ital@1&family=Ubuntu&display=swap");
.exp {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
}

.exp span {
    font-size: 26px;
    margin-top: 10px;
    color: rgb(120 113 108);
    font-family: "Libre Baskerville", serif;
    cursor: pointer;
}

.exp-1 {
    position: relative;
}
.exp-1::after {
    content: "";
    width: 35%;
    height: 2px;
    left: 105%;
    top: 17px;
    position: absolute;
    background-color: gray;
    border-radius: 20px;
}
.exp-11 {
    position: relative;
}
.exp-11::after {
    content: "";
    width: 35%;
    height: 2px;
    left: 105%;
    top: 17px;
    position: absolute;
    background-color: gray;
    border-radius: 20px;
}
.exp-1 {
    margin-left: 10%;
}
.exp-2 {
    margin-left: 10%;
}
.active {
    position: relative;
}
.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(133, 32, 221);
    border-radius: 10px;
    left: 0;
    top: 33px;
}
.skill-b {
    width: 98%;
    /* height: 27vh; */
    background-color: #fdf2e9;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #edbb99;
    max-height: 30vh;
    overflow-y: scroll;
    border: 1px solid black;
    position: relative;
}
.skill-b::after {
    content: "";
    position: absolute;
    width: 3.5px;
    height: 50%;
    background-color: #a9dfbf;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.skill-c {
    font-size: 22px;
    font-weight: bold;
    margin-left: 6%;
    padding-top: 13px;
    font-family: "Ubuntu", sans-serif;
    color: #34495e;
    /* padding-bottom: 20px; */
}
.skill-c strong {
    font-size: 18px;
    color: rgb(100 116 139);
}
.skill-d {
    font-size: 19px;
    margin-left: 6%;
    padding-right: 5px;
    font-family: "Kanit", sans-serif;
    padding-bottom: 15px;
    padding-top: 20px;
}
.skill-des {
    margin-left: 5%;
}
.pp-bar {
    margin-top: 50px;
}
@media screen and (max-width: 680px) {
    .exp {
        display: flex;
        flex-direction: column;
    }
    .exp-11::after {
        content: "";
        width: 0%;

        position: absolute;
    }
    .exp-1::after {
        content: "";
        width: 0%;

        position: absolute;
    }
    .exp-1 {
        margin-left: 0;
    }
    .exp-2 {
        margin-left: 0;
    }
    .Active::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: rgb(191, 152, 226);
        border-radius: 10px;
        left: 0;
        top: 30px;
    }
    .skill-b {
        height: 40vh;
    }
    .exp-111 {
        position: relative;
    }
    .exp-111::before {
        content: "";
        width: 25%;
        height: 2px;
        position: absolute;
        left: 135px;
        border-radius: 10px;
        top: 18px;
    }
    .skill-b p {
        font-size: 19px;
    }
    .skill-d {
        text-align: justify;
        margin-right: 6px;
    }
    .underline {
        text-decoration: underline;
    }
    .exp span {
        cursor: none;
    }
}
@media screen and (max-width: 320px) {
    .skill-b {
        max-height: 50vh;
    }
    #s-d {
        font-size: 17px;
    }
}
.s-border {
    padding: 1px 4px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}
