@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Rajdhani:wght@300&display=swap");
.about-me {
    font-size: 21px;
    margin-top: 10px;
    position: relative;
    display: table;
}
.about-biography {
    font-size: 36px;
    margin-top: 35px;
    display: table;
    padding-bottom: 20px;
    position: relative;
    font-family: "Arvo", serif;
    color: rgb(156, 154, 126);
}

.about-me::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    left: 0;
    top: 25px;
}
.about-biography::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: black;
    border: 1px solid red;
    border-radius: 10px;
    left: 0;
    top: 45px;
}
.about-text {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(87 83 78);
    text-shadow: 1px 1px 1px rgb(87 83 78);
}
.details {
    margin-top: 50px;
}
.address {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    position: relative;
}
.address h2 {
    font-size: 20px;
}
.address-1 {
    margin-bottom: 30px;
}
.name {
    position: absolute;
    left: 4%;
}
.address h3 {
    /* margin-left: 160px; */
    margin-top: 4px;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 21px;
}
.cv-box {
    width: 80%;
    height: 30vh;
    background-color: gainsboro;
    margin: 0 auto;
    border-radius: 3px;
    border: 1px solid black;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
}
.cv-box img {
    width: 50%;
    margin-top: 30px;
    transition: all 0.2s ease-in-out;
}
.cv-box:hover .img-cv {
    transform: translateY(-10px);
}
.cv {
    text-align: center;
    color: red;
    text-decoration: underline;
    margin-top: -20px;
    font-size: 23px;
    font-family: "Rajdhani", sans-serif;
}
@media screen and (max-width: 880px) {
    .about-text {
        text-align: justify;
    }
    .address {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        letter-spacing: 2px;
    }
    .address h3 {
        margin-top: 60px;
        margin-left: 20px;
    }
    #email {
        font-size: 19px;
    }
    .details {
        margin-bottom: 20px;
    }
    .cv-box {
        height: 23vh;
    }
    .cv-box img {
        margin-top: 20px;
    }
    .cv {
        font-size: 20px;
    }
}
