* {
  list-style: none;
  padding: 0;
  margin: 0;
}
.blur-1 {
  width: 60%;
  height: 100vh;
  background-color: rgba(72, 80, 72, 0.3);

  position: fixed;
  left: 0;
  transition: all 0.2s ease-in-out;
  top: 0;
}
.blur-2 {
  width: 0%;
  height: 100vh;
  background-color: rgba(72, 80, 72, 0.3);
  position: fixed;
  left: 0;
  top: 0;
}
header {
  font-size: 32px;
  font-weight: bolder;
  margin-left: 60px;
  margin-top: 60px;
}
.nav-toggle-1 {
  background-color: aliceblue;
  height: 100vh;
  width: 40%;
  position: fixed;
  right: 0rem;
  top: 0rem;
  transition: all 0.2s ease-in-out;
  z-index: 123;
}
.nav-toggle-2 {
  background-color: aliceblue;
  height: 100vh;
  width: 0%;
  position: fixed;
  right: 0rem;
  top: 0rem;
  /* transition: all 0.2s ease-in-out; */
  z-index: 123;
}
ul li {
  margin-top: 20px;
}
ul li .a {
  text-decoration: none;
  color: darkcyan;
  font-size: 24px;
  margin-left: 65px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
ul li .a:hover {
  color: rgb(91, 197, 197);
}
.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 5px;

  cursor: pointer;
  left: 85%;
  top: 5%;
}
.toggle-1 {
  width: 25px;
  height: 3px;
  background-color: black;
  position: absolute;
  transform: rotate(-45deg);
  top: 20px;
  left: 5px;
  border-radius: 10px;
  border: 1px solid red;
}
.toggle-2 {
  width: 25px;
  height: 3px;
  background-color: black;
  position: absolute;
  transform: rotate(45deg);
  top: 20px;
  left: 5px;
  border-radius: 10px;
  border: 1px solid red;
}
.menu-toggle {
  position: fixed;
  left: 90%;
  top: 6vh;
  display: flex;
  cursor: pointer;
  z-index: 1234;
  /* transition: all 0.3s ease-in-out; */
}
.menu-toggle-re-position {
  position: fixed;
  left: 190%;
  top: 6vh;
  display: flex;
  cursor: pointer;
  z-index: 1234;
  transition: all 0.3s ease-in-out;
}
.M {
  color: darkgray;
  font-size: 19px;
  position: absolute;
  left: -3px;
  top: -5px;
  cursor: none;
}
.bar {
  margin-left: 20px;
  cursor: pointer;
  /* background-color: red; */
  position: relative;
  width: 30px;
  height: 30px;
  left: 42px;
  top: -2.3px;
}

.bar-box {
  width: 100px;
  height: 30px;
  z-index: 1222;
  background-color: rgba(33, 33, 66, 0.2);
  position: fixed;
  margin-left: -8px;
  margin-top: -5px;
  cursor: pointer;
}
.menu-toggle-1 {
  width: 25px;
  height: 2px;
  background-color: red;
  position: absolute;
  border: 1px solid green;
  left: 0px;
  top: 8px;
  z-index: 1234;
  border-radius: 10px;
}
.menu-toggle-2 {
  width: 25px;
  z-index: 1234;

  height: 2px;
  background-color: red;
  position: absolute;
  top: 13.5px;
  border: 1px solid green;
  border-radius: 10px;
  left: 0px;
}
.menu-toggle-3 {
  width: 25px;
  z-index: 1234;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 19px;
  border: 1px solid green;
  left: 0px;
  border-radius: 10px;
}

@media screen and (max-width: 980px) {
  .blur-1 {
    width: 0%;
    height: 100vh;
    background-color: rgba(0, 120, 0, 0.3);
    position: fixed;
    left: 0;
    transition: all 0.3s ease-in-out;
    top: 0;
  }
  .nav-toggle-1 {
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0rem;
    top: 0rem;
    transition: all 0.3s ease-in-out;
    z-index: 123;
  }
  .menu-toggle {
    position: fixed;
    left: 80%;
    top: 6vh;
    display: flex;
    cursor: pointer;
    z-index: 1234;
    transition: all 0.3s ease-in-out;
  }
  .toggle {
    cursor: none;
  }
}
@media screen and (max-width: 470px) {
  .menu-toggle {
    left: 70%;
  }
  .toggle {
    cursor: none;
  }
  .M {
    font-size: 19px;
    position: absolute;
    left: -4px;
    pointer-events: none;
    top: -5px;
  }
}
